.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.responseContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px 0 40px 0;
}

.imageContainer {
}

.image {
}

.textContainer{
    padding-left: 80px;
}

.code {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 12px;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.info {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}