.radio {
    accent-color: black;
}

.radio::before {
}


.radio:checked::before {

}

.label {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.options {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
