.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: #0080FF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

}

.input {
    padding: 8px 0 8px 25px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #D9D9D9;
}

.pen {
}