.App {
    --header_height: 60px;
}

.hw {
    padding: 30px 0;
    margin-left: 70px;
}

.hwTitle {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: block;
    text-align: center;
    color: #000000FF;
    border-bottom: 1px solid #D9D9D9;
    padding: 50px 0 15px;
}

.hw2Padding {
    padding: 0 0 0 70px;
}