.sendForm {
    display: flex;
    width: 100%;
    gap: 40px;
}

.textarea {
    resize: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: #F5F7FB;
    width: 100%;
    padding: 12px 24px;
}

.button {
    border-radius: 20px;
    background: #0066CCFF;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding: 10px 40px;
    border: transparent;
    margin-right: 70px;
}

.button:hover {

}

.button:active {

}
