.burgerMenuIcon {
    width: 24px;
    height: 24px;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    z-index: 1;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    top: 0;
    background-color: white;
    align-items: center;
}

.header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}